@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --global-staggered-delay: 0.15;
  --text-gradient-background-color: #1d1d1f;
}

.tabs-main [data-slot="tabList"] {
  /* Styles */
  background-color: rgba(15, 15, 15, 0.4);
}

.tabs-main [data-slot="cursor"] {
  /* Styles */
  background-color: rgba(15, 15, 15, 1);
}

.tabs-main [data-slot="tabContent"] {
  /* Styles */
  color: white;
}
